@model TravelAgency.Models.Appointments

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div>
    <h4>تفاصيل المعاد</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            اسم الميعاد
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            التفاصيل
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppointmentId" class="btn btn-success">تعديل</a>
    <a asp-action="Index" class="btn btn-info">العوده الى القائمه</a>
</div>
