@model TravelAgency.Models.AppointmentDetails

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span>تعديل ميعاد  </span>   
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentDetailId" />
            <div class="form-group">
                <label asp-for="AppointmentId" class="control-label">الميعاد</label>
                <select asp-for="AppointmentId" class="form-control" asp-items="ViewBag.AppointmentId"></select>
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label">الفرع</label>
                <select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveTime" class="control-label">وقت المغادره</label>
                <input asp-for="LeaveTime" class="form-control" />
                <span asp-validation-for="LeaveTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">السعر</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <input type="submit" value="حفظ" class="btn btn-primary" />&nbsp;
                <a asp-action="Index" class="btn btn-info">  عوده الى القائمه  </a>
            </div>
        </form>
    </div>
</div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
